
#toolsShelf{
    position: fixed;
    
    cursor: move;
    padding: 10px;
    background-color: gray;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    width: 200px;

    #handle{
        border: solid 1px blue;
        user-select: none;
    }

    #toolbar-content {
      padding: 10px;
      background-color: gray;
      color: white;
      border-radius: 0 0 5px 5px;

    };

}


