#selectortool{
	border: solid 1px green;
	

	#inspector-toggle{
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      z-index: 200;
	}

	.is-active{
	    position: fixed;
	    border: 2px solid red;
	    background-color: rgba(255, 0, 0, 0.1);
	    pointer-events: none;
	    z-index: 101;
	}

}