#selectortool{
	border: solid 1px green;
	

	#inspector-toggle{
      color: #fff;
      border: none;
      borderRadius: 5px;
      cursor: pointer;
      zIndex: 200;
	}

	.is-active{
	    position: fixed;
	    border: 2px solid red;
	    backgroundColor: rgba(255, 0, 0, 0.1);
	    pointer-events: none;
	    zIndex: 101;
	}

}